extends layout

block content
  h1= title
  - let items = results;
  div(class="container-fuild")
    a.btn( class="btn-primary m-1" href="/dog/create") Create
    div(class='row ')
    div(class= "row row-cols-1 row-cols-sm-3")
      each item,index in items
        div(class="card")
          div(class="card-body "  onclick='buy('+index+')') 
            div() Name:  #{item.name}
            div() Breed: #{item.breed}
            div() Age: #{item.age}          
            a.btn( class="btn-primary m-1" href="/dog/update?id="+item._id) Update
            a.btn( class="btn-secondary m-1" href="/dog/detail?id="+item._id) Detail
            a.btn( class="btn-danger m-1" href="/dog/delete?id="+item._id) Delete

  script.
   function buy(element){
    alert(`You purchased item ${element+1}.`)
   }
  script.
   function dispatch(path){
    window.location.href=path
   }