extends layout
block content
 h1= title
 - let id = toShow._id
 - let name = toShow.name
 - let breed = toShow.breed
 - let age = toShow.age
 div
 div.row
 div(class='dogAttr mr-3') dog ID is:
 div #{id}
 div.row
 div(class='dogAttr mr-3') dog name is:
 div #{name}
 div.row
 div(class='dogAttr mr-3') dog breed is:
 div #{breed}
 div.row
 div(class='dogAttr mr-3') dog age is:
 div #{age}