extends layout 
 
block content 
  h1= title 
 
  - let id = toShow._id 
  - let name = toShow.name
  - let breed = toShow.breed
  - let age = toShow.age
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{id} 
  - let actionid = "/resource/dog/" + id 
  form(id='dogForm', action=actionid, method="PUT") 
    div.form-group 
        label.dogAttr(for='name') Dog Name 
        input#name(type='text', name='name' value=name) 
    div.form-group 
        label.dogAttr(for='breed') Dog Breed
        input#breed(type='text', name='breed' value=breed) 
    div.form-group 
        label.dogAttr(for='age') Dog Age 
        input#age(type='number', name='age' value=age) 
    input(type="submit")
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/dog' 
    }  
 
  script. 
    document.forms['dogForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });